<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="shortcut icon" href="favicon.ico">

<link rel="stylesheet" href="resources/css/bootstrap.min.css" />
<script src="resources/js/bootstrap.min.js"></script>

</head>
<body ng-app="myApp">
	<div ng-controller=" BlogController as ctrl">
		
		<h2>Add new Blog</h2>
		<form class="form-horizontal" name="myForm" role="form" ng-submit="ctrl.submit()">
			<div class="form-group" ng-class="{'has-error': form.blogtitle.$dirty && form.blogTitle.$error.required}">
				<label for="blogTitle" class="col-sm-3 control-label" style="text-align: right;">Blog Title:</label>
				<div class="col-sm-6">
					<input type="text" name="blogTitle" id="blogTitle" class="form-control" placeholder="Blog Title"
						ng-model="ctrl.blog.blogTitle" required />
						<span ng-show="form.blogTitle.$dirty && form.blogTitle.$error.required" class="help-block"></span>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': form.blogDescription.$dirty && form.blogDescription.$error.required}">
				<label for="blogDescription" class="col-sm-3 control-label">Blog Description :</label>
				<div class="col-sm-6">
					<textarea rows="5" cols="80" id="blogDescription" name="blogDescription" class="form-control" ng-model="ctrl.blog.blogDescription" required></textarea>
					<span ng-show="form.blogDescription.$dirty && form.blogDescription.$error.required" class="help-block"></span>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<button type="submit" ng-disabled="form$invalid || ctrl.dataLoading" class="btn btn-default">Create Blog</button>
					<button type="reset" class="btn btn-danger" ng-click="ctrl.reset()" >Clear</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>